<div class="container">
	<div class="page-header text-center">
		<h1><span class="fa fa-anchor"></span> Dashboard</h1>

		<a href="/signout" class="btn btn-default btn-sm">Logout</a>

		<div class="row">
			
			<div class="col-sm-6">
				<div class="well">
				</div>
			</div>

		</div>
	</div>
</div>
